<% provide(:title, 'Add Student') %>
<h1>Add Student</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
    
      <%= f.label :firstName %>
      <%= f.text_field :firstName, class: 'form-cotrol' %>
      
      <%= f.label :lastName %>
      <%= f.text_field :lastName, class: 'form-cotrol' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-cotrol' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-cotrol' %>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-cotrol' %>
      
      <div class="role_box">
        <h2>Student Worker Roles</h2>
        
        <%= f.fields_for :role do |builder| %>
          <!-- Lab Technician role checkbox -->
          <%= builder.label :tech, class: "checkbox inline" do %>
            <%= builder.check_box :tech %>
            <span>Lab Technician</span>
          <% end %>
          
          <!-- Equipment Checkout role checkbox -->
          <%= builder.label :checkout, class: "checkbox inline" do %>
            <%= builder.check_box :checkout %>
            <span>Equipment Checkout</span>
          <% end %>
          
          <!-- Lab TA/Grader role checkbox -->
          <%= builder.label :ta_grader, class: "checkbox inline" do %>
            <%= builder.check_box :ta_grader %>
            <span>Lab TA/Grader</span>
          <% end %>
          
        <% end %>
      </div>

      <%= f.submit "Add Student Worker", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
