<% provide(:title, 'Add Student') %>
<h1>Add Student</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
    
      <%= f.label :firstName %>
      <%= f.text_field :firstName, class: 'form-cotrol' %>
      
      <%= f.label :lastName %>
      <%= f.text_field :lastName, class: 'form-cotrol' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-cotrol' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-cotrol' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-cotrol' %>
      
      <div class="role_checks">
        <%= f.fields_for :role do |builder| %>
          <%= builder.label :tech, "Lab Technician" %>
          <%= builder.check_box :tech %> 
          
          <%= builder.label :checkout, "Equipment Checkout" %>
          <%= builder.check_box :checkout %>
          
          <%= builder.label :ta_grader, "Lab TA/Grader" %>
          <%= builder.check_box :ta_grader %>
        <% end %>
      </div>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
